body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-blend-mode: multiply,multiply;
    overflow-x: hidden;
}
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}

.input-section {
    margin-bottom: 20px;
    width: 37cm;
}


.label-section {
    text-decoration: wavy;
    font-size: 0.5cm;
    color: rgb(0, 0, 0);
}

.div-section {
    height: 1cm;
    border-radius: 8px;
    margin: 0.5cm;
    width: 10cm;
    align-items: center;
}

.preview {
    width: 15cm;
    height: 10cm;
}

.video-preview {
    width: 15cm;
    height: auto;
}

.input-section label {
    display: block;
    margin-bottom: 5px;
}

.input-section input[type="text"],
.input-section input[type="file"] {
    width: 100%;
    padding: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color:rgb(0, 0, 0);
    background-color: #78dded;
}


button:hover{
    padding: 10px 20px;
    font-size: 16px;
    color:#000000;
    background-color: white;
}

.data-container {
    max-height: 300px;
    /* Adjust the height as needed */
}

.card {


    padding: 20px;
    /* margin-bottom: 20px; */
    background-image: linear-gradient(to top, #78dded 10%, #e4f3f4 80%);
    background-size: cover;
    background-position: center;
    margin: auto;
}

.card-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 6px;
}

.card-title {
    margin: 0;
   
}

.card-body {
    margin-top: 10p
}